<html>
  <head>
    <style>
      .multiline { white-space: pre-line; }
    </style>
  </head>
  <body>
    <p class="multiline">Hola
      {{name}}, ¡Hubo una solicitud para cambiar su contraseña!
    </p>
    <p>Si no realizó esta solicitud, ignore este correo electrónico. </p>
    <p>De lo contrario, haga clic en este enlace para cambiar su contraseña:
      <a href="{{url}}">Cambiar contraseña</a></p>

    <p>Por favor, no comparta este enlace con nadie.</p>

  </body>
</html>